node_modules/

cartridges/app_storefront_base/
cartridges/modules/
cartridges/bm_app_storefront_base/
cartridges/int_digitalriver_sfra/cartridge/static/
cartridges/digitalriver_test
customercredit-ui-mockup

workspace/
coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
package-lock.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea
test/acceptance/report
test/integration/config.json
metadata/digitalriverOriginal.zip
