.drbm-services {
    display: inline-block;
    margin-top: 1.1em;
}

.drbm-title {
    font-weight: bold;
}

.drbm-statuses {
    display: inline-block;
    margin-top: 1.1em;
    margin-left: 7.7em;
}

.test-service {
    background-color: #d9d9d9;
    padding: 0.2em 0.5em;
    cursor: pointer;
    border: 0.0625em solid #d9d9d9;
    border-radius: 0.188em;
    color: #00629b;
    margin: 0;
    white-space: nowrap;
    width: 7em;
    margin-left: 15.4em;
}
